@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
bkg1 === NavabarBackgroundColor
bkg2 === MainBackgroundColor
bkg3 === YellowBackgroundColor
*/

@layer base {
  :root {
    --color-bkg1: 227 228 230;
    --color-bkg2: 242 245 246;
    --color-bkg3: 243 218 100;
    --color-content1: 0 0 0;
    --color-content2: 0 0 0;
    --color-accent1: 250 250 250;
    --color-accent2: 250 250 250;
    --color-con:  255 254 254;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bkg1: 10 10 10;
      --color-bkg2: 3 3 3;
      --color-bkg3: 220 194 26;
      --color-content1: 138 138 138;
      --color-content2: 120 120 120;
      --color-accent1: 1 1 1;
      --color-accent2: 1 1 1;
      --color-con:  41 41 41 ;
    }
  }

  :root[data-theme="dark"] {
    --color-bkg1: 10 10 10;
    --color-bkg2: 3 3 3;
    --color-bkg3: 220 194 26;
    --color-content1: 138 138 138;
    --color-content2: 138 138 138;
    --color-accent1: 1 1 1;
    --color-accent2: 1 1 1;
    --color-con:  41 41 41 ;
  }

  :root[data-theme="light"] {
    --color-bkg1: 227 228 230;
    --color-bkg2: 242 245 246;
    --color-bkg3: 243 218 100;
    --color-content1: 0 0 0;
    --color-content2: 0 0 0;
    --color-accent1: 250 250 250;
    --color-accent2: 250 250 250;
    --color-con:  255 254 254;
  }
}