@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
bkg1 === NavabarBackgroundColor
bkg2 === MainBackgroundColor
bkg3 === YellowBackgroundColor
*/

@layer base {
  :root {
    --color-bkg1: 240 240 243;
    --color-bkg2: 242 245 246;
    --color-bkg3: 241 241 32;
    --color-content: 0, 0, 0, ;
    --color-accent1: 255, 228, 105;
    --color-accent2: 243, 218, 100;
    --color-con:  255 254 254;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bkg1: 10 10 10;
      --color-bkg2: 3 3 3;
      --color-bkg3: 220 194 26;
      --color-content: 138 138 138;
      --color-accent1: 1 1 1;
      --color-accent2: 1 1 1;
      --color-con:  41 41 41 ;
    }
  }

  :root[data-theme="dark"] {
    --color-bkg1: 10 10 10;
    --color-bkg2: 3 3 3;
    --color-bkg3: 220 194 26;
    --color-content: 138 138 138;
    --color-accent1: 1 1 1;
    --color-accent2: 1 1 1;
    --color-con:  41 41 41 ;
  }

  :root[data-theme="light"] {
    --color-bkg1: 227, 228, 230;
    --color-bkg2: 242 245 246;
    --color-bkg3: 227, 228, 230;
    --color-content: 0, 0, 0, ;
    --color-accent1: 255, 228, 105;
    --color-accent2: 243, 218, 100;
    --color-con:  255 254 254;
  }
}